body {
    background-color: sienna;
}
.btn-primary {
    background-color: slategrey;
}
.card > img {
    background-color: #ffe484;
}
#emailhtml-block {
    display: none;
}
#emailtext-block {
    display: none;
}
.err {
    color: darkred;
    visibility: hidden;
}
fieldset {
    border: 1px solid maroon;
    padding: 1em;
}
#format{
    display: none;
}

.jumbotron {
    background-color: darksalmon;
    color: navajowhite;
}

legend {
    font-weight: bold;
    color: #10707f;
    font-variant: small-caps;
    font-size: 125%;
    width: 25%;
}

#main {
    background-color: white;
    margin: 0 10em 15em 10em;
    padding: 6em;
}
#other-block {
    display: none;
}
/*
#text-block {
    display: none;
}*/
